In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('music.csv')

In [3]:
df.shape

(18, 3)

In [4]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [5]:
X = df.drop(columns=['genre'])

In [6]:
y = df['genre']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
model = DecisionTreeClassifier()

In [13]:
model.fit(X_train, y_train)
predict = model.predict(X_test)

In [14]:
score = accuracy_score(y_test, predict)
score

1.0